################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PaymentGateway/bin/Debug/netcoreapp2.1
/PaymentGateway/obj/Debug/netcoreapp2.1
/PaymentGateway/obj/Release/netcoreapp2.1
/.vs
/PaymentGateway/obj
